packages
bin
obj
*.vssscc
*.vspscc
*.DS_Store
*.userprefs
*.rej
**/.vs/
*.suo
*.csproj.user
*.shproj.user
*.usertest
*.lock.json
*.orig
XamarinSDK/SDKBrowser/SDKBrowser.Android/Resources/Resource.Designer.cs