<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="1.68.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SkiaSharp.Views.Forms" version="1.68.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="4.1.0.581479" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Telerik.UI.for.Xamarin.Trial" version="2020.2.624.1" targetFramework="portable45-net45+win8+wpa81" />
</packages>